<div class="eqLogic-widget eqLogic" style="width: 200px;background-color: #background_color#;" data-eqLogic_id="#id#" data-version="dashboard" >
    <center><strong><a href="#eqLink#" style="font-size : 1.1em;margin-top:10px;"> #name# </a></strong></center>
  		<div class="row">
           <div><p style="font-size: 1.2em;text-align: center;font-weight:bold;margin-top:10px;"><i class="fa fa-bolt"></i></p></div>
    	   <div class="col-md-6"><p style="font-size: 1.2em;text-align: center;font-weight:bold;margin-top:10px;">Instant:</i></p></div>
    	   <div class="col-md-6"><p style="font-size: 1.2em;text-align: center;font-weight:bold;">#instant# KW</i></p></div>
        </div>
  		<div class="row">
    	   <div class="col-md-6"><p style="font-size: 1.2em;text-align: center;font-weight:bold;margin-top:10px;">Total:</i></p></div>
    	   <div class="col-md-6"><p style="font-size: 1.2em;text-align: center;font-weight:bold;">#total# KW</i></p></div>
        </div>
        <div style="margin-top:10px;">
           <center><strong><a  style="font-size : 0.9em;margin-top:20px; ">#date#</a></strong></center>  
        </div>	
</div>

