<div class="eqLogic-widget eqLogic" style="background-color: #background_color#" data-eqLogic_id="#id#" data-version="mobile" >
    <center><strong>#name#</strong></center>
          <div class="row">
              <div class="col-md-2 col-md-offset-3"><p><i class="jeedom-thermo-moyen"></i></p></div><div class="col-md-7"><p class="pull-left">#temperature# °C</p></div>
              <div class="col-md-2 col-md-offset-3"><p><i class="fa fa-tint"></i></p></div><div class="col-md-7"><p class="pull-left">#humidity# %</p></div>
          </div>
    </div><br/>

</div>

